@{
    ViewData["Title"] = "Error";
    Layout = "_Layout";
}

<div class="container">
    <h1>Access denied!</h1>
    <img src="https://imgs.search.brave.com/7XBK4ArHafchefCaLr1N3xYbJcNCK3n_qN2TDPMTTxo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9zdDIu/ZGVwb3NpdHBob3Rv/cy5jb20vNDMzMzMx/NS83MTQxL2kvNjAw/L2RlcG9zaXRwaG90/b3NfNzE0MTQzNjUt/c3RvY2stcGhvdG8t/c3RvcC1uby1hY2Nl/c3MuanBn" alt="Sad Face" width="100" height="100">
    <p>You do not have access do this page!</p>
    <p>You can go back to page that you have access <a href="/">homepage</a>.</p>
</div>