@{
	ViewData["Title"] = "Home Page";
}

<style>
	body {
		background-image: url("/img/carousel-1.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		box-shadow: 0px 0px 0px rgba(0, 0, 0, 1);
	}
</style>
<body>
	<div class="carousel-caption display-flex align-items-center justify-content-center">
		<div class="text" style="margin-top: -600px">
			<h2 class="display-2 m-0 mt-2 mt-md-4 text-danger font-weight-bold text-capitalize">Welcome to <h2-1 class="display-1 m-0 mt-1 mt-md-3 text-danger fw-bolder text-uppercase">Vital Fitness</h2-1></h2>
		</div>
	</div>
</body>
