@using FitnessApp.Web.Areas.Admin.ViewModels.Program;
@model ProgramFormModel;

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Name...">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" row="4" class="form-control" placeholder="Description...">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PictureUrl"></label>
                <input asp-for="PictureUrl" class="form-control" placeholder="Your fine URL here...">
                <span asp-validation-for="PictureUrl" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId"></label>
                <select asp-for="CategoryId" class="form-control">
                    @foreach (var category in Model.Categories)
                    {
                            <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="CategoryId" class="small text-danger"></span>
            </div>

            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Add" />
            </div>
        </form>
    </div>
</div>


    @section Scripts {
   <partial name="_ValidationScriptsPartial" />
    }

<style>

    .form-group {
        background-color: #333;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }


        .form-group label {
            color: #ff0000;
            font-weight: bold;
        }

        .form-group textarea {
            color: #ff0000;
            border: 1px solid #fff;
            border-radius: 5px;
            padding: 5px;
        }


        .form-group input[type="submit"] {
            color: #ff0000;
            background-color: #444;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .form-group input[type="submit"]:hover {
                background-color: #555;
            }
</style>