<style>
    .red-button {
        background-color: darkred;
    }

    .green-button {
        background-color: darkgreen;
    }

    .blue-button {
        background-color: darkblue;
    }

    .big-button {
        font-size: 24px;
        padding: 15px;
        margin: 10px 0;
        border: none;
        color: #fff;
        text-decoration: none;
        display: inline-block;
        width: 200px;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>

<h2 class="text-danger text-center">Profile</h2>

<div class="button-container">

    <a class="big-button red-button active text-white" asp-controller="Profile" asp-action="GetPrograms">My Programs</a>

    <a class="big-button green-button active text-white" asp-controller="Profile" asp-action="GetFoodRecipes">My Food Recipes</a>

    <a class="big-button blue-button active text-white" asp-controller="Profile" asp-action="GetPosts">My Posts</a>
</div>

